extends ../layouts/header
block content
    //
      ==================================================
      Global Page Section Start
      ==================================================
    section.global-page-header
      .container
        .row
          .col-md-12
            .block
              h2 About Company
              |                             
              ol.breadcrumb
                li
                  a(href='index')
                    i.ion-ios-home
                    |                                         Home
                |                                 
                li.active About
    //
      ==================================================
      Company Description Section Start
      ==================================================
    section.company-description
      .container
        .row
          .col-md-6.wow.fadeInLeft(data-wow-delay='.3s')
            img.img-responsive(src='images/about/about-company.jpg', alt='')
          |                     
          .col-md-6
            .block
              h3.subtitle.wow.fadeInUp(data-wow-delay='.3s', data-wow-duration='500ms') Why We are Different
              |                             
              p.wow.fadeInUp(data-wow-delay='.5s', data-wow-duration='500ms')
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              |                             
              p.wow.fadeInUp(data-wow-delay='.7s', data-wow-duration='500ms')
                | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
    //
      ==================================================
      Company Feature Section Start
      ==================================================
    section.about-feature.clearfix
      .container-fluid
        .row
          .block.about-feature-1.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.3s')
            h2
              | Why Choose Us
            |                         
            p
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
          |                     
          .block.about-feature-2.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.5s')
            h2.item_title
              | What You Get
            |                         
            p
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
          |                     
          .block.about-feature-3.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.7s')
            h2.item_title
              | Meet The Energy
            |                         
            p
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
    //
      ==================================================
      Team Section Start
      ==================================================
    section#team
      .container
        .row
          h2.subtitle.text-center Meet The Team
          |                     
          .col-md-3
            .team-member.wow.fadeInLeft(data-wow-duration='500ms', data-wow-delay='.3s')
              .team-img
                img.team-pic(src='images/team/team-1.jpg', alt='')
              |                             
              h3.team_name Jonathon Andrew
              |                             
              p.team_designation CEO, Project Manager
              |                             
              p.team_text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              |                             
              p.social-icons
                a.facebook(href='#', target='_blank')
                  i.ion-social-facebook-outline
                |                                 
                a(href='#', target='_blank')
                  i.ion-social-twitter-outline
                |                                 
                a(href='#', target='_blank')
                  i.ion-social-linkedin-outline
                |                                 
                a(href='#', target='_blank')
                  i.ion-social-googleplus-outline
          |                     
          .col-md-3
            .team-member.wow.fadeInLeft(data-wow-duration='500ms', data-wow-delay='.5s')
              .team-img
                img.team-pic(src='images/team/team-2.jpg', alt='')
              |                             
              h3.team_name Jesmin Martina
              |                             
              p.team_designation CEO, Project Manager
              |                             
              p.team_text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore .
              |                             
              p.social-icons
                a.facebook(href='#', target='_blank')
                  i.ion-social-facebook-outline
                |                                 
                a(href='#', target='_blank')
                  i.ion-social-twitter-outline
                |                                 
                a(href='#', target='_blank')
                  i.ion-social-linkedin-outline
                |                                 
                a(href='#', target='_blank')
                  i.ion-social-googleplus-outline
          |                     
          .col-md-3
            .team-member.wow.fadeInLeft(data-wow-duration='500ms', data-wow-delay='.7s')
              .team-img
                img.team-pic(src='images/team/team-3.jpg', alt='')
              |                             
              h3.team_name Deu John
              |                             
              p.team_designation CEO, Project Manager
              |                             
              p.team_text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore .
              |                             
              p.social-icons
                a.facebook(href='#', target='_blank')
                  i.ion-social-facebook-outline
                |                                 
                a(href='#', target='_blank')
                  i.ion-social-twitter-outline
                |                                 
                a(href='#', target='_blank')
                  i.ion-social-linkedin-outline
                |                                 
                a(href='#', target='_blank')
                  i.ion-social-googleplus-outline
          |                     
          .col-md-3
            .team-member.wow.fadeInLeft(data-wow-duration='500ms', data-wow-delay='.9s')
              .team-img
                img.team-pic(src='images/team/team-4.jpg', alt='')
              |                             
              h3.team_name Anderson Martin
              |                             
              p.team_designation CEO, Project Manager
              |                             
              p.team_text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore .
              |                             
              p.social-icons
                a.facebook(href='#', target='_blank')
                  i.ion-social-facebook-outline
                |                                 
                a(href='#', target='_blank')
                  i.ion-social-twitter-outline
                |                                 
                a(href='#', target='_blank')
                  i.ion-social-linkedin-outline
                |                                 
                a(href='#', target='_blank')
                  i.ion-social-googleplus-outline
    //
      ==================================================
      Clients Section Start
      ==================================================
    section#clients
      .container
        .row
          .col-md-12
            h2.subtitle.text-center.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.3s') Our Happy Clinets
            |                         
            p.subtitle-des.text-center.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.5s') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, error.
            |                         
            #clients-logo.owl-carousel
              div
                img(src='images/clients/logo-1.jpg', alt='')
              |                             
              div
                img(src='images/clients/logo-2.jpg', alt='')
              |                             
              div
                img(src='images/clients/logo-3.jpg', alt='')
              |                             
              div
                img(src='images/clients/logo-4.jpg', alt='')
              |                             
              div
                img(src='images/clients/logo-5.jpg', alt='')
              |                             
              div
                img(src='images/clients/logo-1.jpg', alt='')
              |                             
              div
                img(src='images/clients/logo-2.jpg', alt='')
              |                             
              div
                img(src='images/clients/logo-3.jpg', alt='')
              |                             
              div
                img(src='images/clients/logo-4.jpg', alt='')
              |                             
              div
                img(src='images/clients/logo-5.jpg', alt='')
    //
      ==================================================
      Call To Action Section Start
      ==================================================
    include ../layouts/calltoaction.jade 