extends ../layouts/header
block content
    //
      ==================================================
      Global Page Section Start
      ==================================================
    section.global-page-header
      .container
        .row
          .col-md-12
            .block
              h2 Full Width Blog
              |                             
              ol.breadcrumb
                li
                  a(href='index')
                    i.ion-ios-home
                    |                                         Home
                |                                 
                li.active Blog
    // /#Page header
    section#blog-full-width
      .container
        .row
          .col-md-12
            article.wow.fadeInDown(data-wow-delay='.3s', data-wow-duration='500ms')
              .blog-post-image
                a(href='post-fullwidth')
                  img.img-responsive(src='images/blog/post-1.jpg', alt='')
              |                                 
              .blog-content
                h2.blogpost-title
                  a(href='post-fullwidth') Space shouldn&rsquo;t be the final frontier
                |                                     
                .blog-meta
                  span Dec 11, 2020
                  |                                         
                  span
                    | by 
                    a(href='') Admin
                  |                                         
                  span
                    a(href='') business
                    | ,
                    a(href='') people
                |                                     
                p
                  | Ultrices posuere cubilia curae curabitur sit amet tortor ut massa commodo. Vestibulum consectetur euismod malesuada tincidunt cum. Sed ullamcorper dignissim consectetur ut tincidunt eros sed sapien consectetur dictum. Pellentesques sed volutpat ante, cursus port. Praesent mi magna, penatibus et magniseget dis parturient montes sed quia consequuntur magni dolores eos qui ratione.
                |                                     
                a.btn.btn-dafault.btn-details(href='single-post') Continue Reading
            |                             
            article.wow.fadeInDown(data-wow-delay='.5s', data-wow-duration='500ms')
              .blog-post-image
                a(href='post-fullwidth')
                  img.img-responsive(src='images/blog/post-2.jpg', alt='')
              |                                 
              .blog-content
                h2.blogpost-title
                  a(href='post-fullwidth') Space shouldn&rsquo;t be the final frontier
                |                                     
                .blog-meta
                  span Dec 11, 2020
                  |                                         
                  span
                    | by 
                    a(href='') Admin
                  |                                         
                  span
                    a(href='') business
                    | ,
                    a(href='') people
                |                                     
                p
                  | Ultrices posuere cubilia curae curabitur sit amet tortor ut massa commodo. Vestibulum consectetur euismod malesuada tincidunt cum. Sed ullamcorper dignissim consectetur ut tincidunt eros sed sapien consectetur dictum. Pellentesques sed volutpat ante, cursus port. Praesent mi magna, penatibus et magniseget dis parturient montes sed quia consequuntur magni dolores eos qui ratione.
                |                                     
                a.btn.btn-dafault.btn-details(href='single-post') Continue Reading
            |                             
            article.wow.fadeInDown(data-wow-delay='.7s', data-wow-duration='500ms')
              .blog-post-image
                a(href='post-fullwidth')
                  img.img-responsive(src='images/blog/post-3.jpg', alt='')
              |                                 
              .blog-content
                h2.blogpost-title
                  a(href='post-fullwidth') Space shouldn&rsquo;t be the final frontier
                |                                     
                .blog-meta
                  span Dec 11, 2020
                  |                                         
                  span
                    | by 
                    a(href='') Admin
                  |                                         
                  span
                    a(href='') business
                    | ,
                    a(href='') people
                |                                     
                p
                  | Ultrices posuere cubilia curae curabitur sit amet tortor ut massa commodo. Vestibulum consectetur euismod malesuada tincidunt cum. Sed ullamcorper dignissim consectetur ut tincidunt eros sed sapien consectetur dictum. Pellentesques sed volutpat ante, cursus port. Praesent mi magna, penatibus et magniseget dis parturient montes sed quia consequuntur magni dolores eos qui ratione.
                |                                     
                a.btn.btn-dafault.btn-details(href='single-post') Continue Reading
    //
      ==================================================
      Call To Action Section Start
      ==================================================
    section#call-to-action
      .container
        .row
          .col-md-12
            .block
              h2.title.wow.fadeInDown(data-wow-delay='.3s', data-wow-duration='300ms')
                | SO WHAT YOU THINK ?
                p.wow.fadeInDown(data-wow-delay='.5s', data-wow-duration='300ms')
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis,
                  br
                  | possimus commodi, fugiat magnam temporibus vero magni recusandae? Dolore, maxime praesentium.
                |                                 
                a.btn.btn-default.btn-contact.wow.fadeInDown(href='contact', data-wow-delay='.7s', data-wow-duration='300ms') Contact With Me
    //
      ==================================================
      Footer Section Start
      ==================================================
    footer#footer
      .container
        .col-md-8
          p.copyright
            | Copyright: 
            span 2015
            |  . Design and Developed by 
            a(href='http://www.Themefisher.com') Themefisher
        |                     
        .col-md-4
          // Social Media
          ul.social
            li
              a.Facebook(href='#')
                i.ion-social-facebook
            |                             
            li
              a.Twitter(href='#')
                i.ion-social-twitter
            |                             
            li
              a.Linkedin(href='#')
                i.ion-social-linkedin
            |                             
            li
              a.Google.Plus(href='#')
                i.ion-social-googleplus
    // /#footer
