extends ../layouts/header
block content
    //
      ==================================================
      Global Page Section Start
      ==================================================
    section.global-page-header#contact-page-header
      .container
        .row
          .col-md-12
            .block
              h2 联系我们
    // /#page-header
    //
      ==================================================
      Contact Section Start
      ==================================================
    section#contact-section
      .container
        .row
          .col-md-6
            .block
              h2.subtitle.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.3s') 给我们写邮件
              |                             
              p.subtitle-des.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.5s')
                | 请在下面填写您宝贵的意见，我们的客服将会在最短时间内回复您
              |                             
              .contact-form
                form#contact-form(method='post', action="sendmail", role='form')
                  .form-group.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.6s')
                    input#name.form-control(type='text', placeholder='您的名字', name='name')
                  |                                                                        
                  .form-group.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.8s')
                    input#email.form-control(type='email', placeholder='您的Email地址', name='email')
                  |                                                                       
                  .form-group.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='1s')
                    input#subject.form-control(type='text', placeholder='主题', name='subject')
                  |                                                                       
                  .form-group.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='1.2s')
                    textarea#message.form-control(rows='6', placeholder='信息', name='message')
                  |                                                                  
                  #submit.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='1.4s')
                    input#contact-submit.btn.btn-default.btn-send(type='submit', value='发送邮件')
                .modal.fade#sendModal
                  .modal-dialog
                    .modal-content
                      .modal-body
                        .alert.alert-success
                          | 非常感谢您的建议，我们已经收到您的信息，客服会尽快回复您
                        button.btn.btn-default.btn-send(type="button",data-dismiss="modal") 关闭                     
          .col-md-6
            .map-area
              h2.subtitle.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.3s') 我们诚挚邀请您来我们公司参观
              |                             
              p.subtitle-des.wow.fadeInDown(data-wow-duration='500ms', data-wow-delay='.5s')
                | 地址：深圳市福田区中康路雕塑家园1808
              |                             
              .map
                iframe(src='map', width='100%', height='400', frameborder='0', style='border:0', allowfullscreen='')
        |                 
        .row.address-details
          .col-md-3
            .address.wow.fadeInLeft(data-wow-duration='500ms', data-wow-delay='.3s')
              i.fa.fa-map-marker
              |                             
              h5
                | 深圳市福田区中康路雕塑家园1808
                br
                | 深圳市天诣科技有限公司
          |                     
          .col-md-3
            .address.wow.fadeInLeft(data-wow-duration='500ms', data-wow-delay='.5s')
              i.fa.fa-weixin(aria-hidden="true")
              |                             
              h5
                | 公众号
                br
                | 诣眼镜
          |                     
          .col-md-3
            .email.wow.fadeInLeft(data-wow-duration='500ms', data-wow-delay='.7s')
              i.fa.fa-envelope
              |                             
              h5
                | 
                br
                | customerservice@yiglasses.com

          |                     
          .col-md-3
            .phone.wow.fadeInLeft(data-wow-duration='500ms', data-wow-delay='.9s')
              i.fa.fa-phone
              |                             
              h5
                | 0755-23764385
                br
                | 13923728487

