extends ../layouts/header
block content
    //
      ==================================================
      Global Page Section Start
      ==================================================
    section#product-page-header.global-page-header
      .container
        .row
          .col-md-12
            .block
              h2 设计投票

    // /#Page header
    section#gallery.gallery
      .container
        .row
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='0ms')
              .img-wrapper
                a(href="#galleryModal1", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/1287C19/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Brando
                |                                 
                p
                  | RMB 399
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='0ms')
              .img-wrapper
                a(href="#galleryModal2", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/3016A3/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Cage
                |                                 
                p
                  | RMB 399
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='0ms')
              .img-wrapper
                a(href="#galleryModal3", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/5156C19/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Pacino
                |                                 
                p
                  | RMB 399
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='0ms')
              .img-wrapper
                a(href="#galleryModal4", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/5213黑/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Jolie
                |                                 
                p
                  | RMB 299
          |                         
          .col-sm-4.col-xs-12
             figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='0ms')
              .img-wrapper
                a(href="#galleryModal5", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/5220白/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Scarlett
                |                                 
                p
                  | RMB 299
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='0ms')
              .img-wrapper
                a(href="#galleryModal6", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/5221花/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Lawrence
                |                                 
                p
                  | RMB 299
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='0ms')
              .img-wrapper
                a(href="#galleryModal7", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/5221金/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Lawrence
                |                                 
                p
                  | RMB 299
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='0ms')
              .img-wrapper
                a(href="#galleryModal8", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/5225/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Alba
                |                                 
                p
                  | RMB 299
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='0ms')
              .img-wrapper
                a(href="#galleryModal9", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/5353C19/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Spacey
                |                                 
                p
                  | RMB 399
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='0ms')
              .img-wrapper
                a(href="#galleryModal10", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/73578A5/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Downey
                |                                 
                p
                  | RMB 399 
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='0ms')
              .img-wrapper
                a(href="#galleryModal11", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/73758A16/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Downey
                |                                 
                p
                  | RMB 399 
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='0ms')
              .img-wrapper
                a(href="#galleryModal12", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/SPR09A11/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Ledger 
                |                                 
                p
                  | RMB 399 
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='0ms')
              .img-wrapper
                a(href="#galleryModal13", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/SPR09C10/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Ledger 
                |                                 
                p
                  | RMB 399
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='0ms')
              .img-wrapper
                a(href="#galleryModal14", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/SPR09C94/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Ledger 
                |                                 
                p
                  | RMB 399 
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='0ms')
              .img-wrapper
                a(href="#galleryModal1", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/SPR096C10/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | DiCaprio
                |                                 
                p
                  | RMB 399                                                                                            

    //
      ==================================================
      Call To Action Section Start
      ==================================================
    include ../layouts/calltoaction.jade
    include ../layouts/gallerymodals.jade