extends ../layouts/header
block content
    //
      ==================================================
      Global Page Section Start
      ==================================================
    section#product-page-header.global-page-header
      .container
        .row
          .col-md-12
            .block
              h2 光学眼镜

    // /#Page header
    section#gallery.gallery
      .container
        .row
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item.animated(data-wow-duration='500ms', data-wow-delay='0ms', style='visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;')
              .img-wrapper
                img.img-responsive(src='images/portfolio/item-1.jpg', alt='this is a title')
                |                                     
                .overlay
                  .buttons
                    a.fancybox(rel='gallery', href='images/portfolio/item-1.jpg') Demo
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.animated(data-wow-duration='500ms', data-wow-delay='300ms', style='visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 300ms; -webkit-animation-delay: 300ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;')
              .img-wrapper
                img.img-responsive(src='images/portfolio/item-2.jpg', alt='this is a title')
                |                                     
                .overlay
                  .buttons
                    a.fancybox(rel='gallery', href='images/portfolio/item-2.jpg') Demo
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.animated(data-wow-duration='500ms', data-wow-delay='500ms', style='visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 300ms; -webkit-animation-delay: 300ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;')
              .img-wrapper
                img.img-responsive(src='images/portfolio/item-3.jpg', alt='')
                |                                     
                .overlay
                  .buttons
                    a.fancybox(rel='gallery', href='images/portfolio/item-3.jpg') Demo
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated(data-wow-duration='500ms', data-wow-delay='700ms', style='visibility: hidden; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 600ms; -webkit-animation-delay: 600ms; animation-name: none; -webkit-animation-name: none;')
              .img-wrapper
                img.img-responsive(src='images/portfolio/item-4.jpg', alt='')
                |                                     
                .overlay
                  .buttons
                    a.fancybox(rel='gallery', href='images/portfolio/item-4.jpg') Demo
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated(data-wow-duration='500ms', data-wow-delay='900ms', style='visibility: hidden; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 900ms; -webkit-animation-delay: 900ms; animation-name: none; -webkit-animation-name: none;')
              .img-wrapper
                img.img-responsive(src='images/portfolio/item-5.jpg', alt='')
                |                                     
                .overlay
                  .buttons
                    a.fancybox(rel='gallery', href='images/portfolio/item-5.jpg') Demo
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated(data-wow-duration='500ms', data-wow-delay='1100ms', style='visibility: hidden; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 1200ms; -webkit-animation-delay: 1200ms; animation-name: none; -webkit-animation-name: none;')
              .img-wrapper
                img.img-responsive(src='images/portfolio/item-6.jpg', alt='')
                |                                     
                .overlay
                  .buttons
                    a.fancybox(rel='gallery', href='images/portfolio/item-6.jpg') Demo
    //
      ==================================================
      Call To Action Section Start
      ==================================================
    include ../layouts/newproductmodals.jade