extends ../layouts/header
block content
    //
      ==================================================
      Slider Section Start
      ================================================== 
    section#hero-area
      .container
        .row
          .col-md-12.text-center
            .block.wow.fadeInUp(data-wow-delay='.3s')
              // Slider
              section.cd-intro
                h1.wow.fadeInUp.animated.cd-headline.slide(data-wow-delay='.4s')
                  span Hi, 我是诣眼镜 &amp; 我是
                  br
                  |                                 
                  span.cd-words-wrapper
                    b.is-visible 潮人
                    |                                     
                    b 新生代
                    |                                     
                    b 设计师
                    |                                     
                    b 音乐人
                    |                                     
                    b 年轻人
                    |                                     
                    b 模特
                    |                                     
                    b 书呆子
                    |                                     
                    b 程序员
                    |                                     
                    b 型男
                    |                                     
                    b 美女                                                            
              // cd-intro
              // /.slider
              //- h2.wow.fadeInUp.animated(data-wow-delay='.6s')
              //-   | 街对面橱窗玻璃上倒映的我
              //-   br
              //-   |  真好看。
              //- |                                 
              //- a.btn-lines.dark.light.wow.fadeInUp.animated.smooth-scroll.btn.btn-default.btn-green(data-wow-delay='.9s', href='#works', data-section='#works') 我们的新品
    // /#main-slider
    //
      ==================================================
      Slider Section Start
      ==================================================
      
    section#new-item
      .container-fluid
        .row
          .col-md-12.col-sm-12
            div#carousel-example-generic.carousel.slide(data-wow-delay='.3s', data-wow-duration='500ms',data-ride="carousel")
              ol.carousel-indicators
                li.active(data-target="#carousel-example-generic",data-slide-to="0")
                li(data-target="#carousel-example-generic",data-slide-to="1")
              .carousel-inner(role="listbox")
                .item.active   
                  img.img-responsive(src="images/slider/1.jpg")
                .item
                  img.img-responsive(src="images/slider/2.jpg")
              a.left.carousel-control(role="button",href="#carousel-example-generic",data-slide="prev")
                span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                span.sr-only Previous
              a.right.carousel-control(role="button",href="#carousel-example-generic",data-slide="next")
                span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                span.sr-only Next

    //
      ==================================================
      Portfolio Section Start
      ==================================================
    section#works.works
      .container-fluid
        .section-heading
          h1.title.wow.fadeInDown(data-wow-delay='.3s') 当季新款
          //- |                         
          //- p.wow.fadeInDown(data-wow-delay='.5s')
          //-   | Aliquam lobortis. Maecenas vestibulum mollis diam. Pellentesque auctor neque nec urna. Nulla sit amet est. Aenean posuere 
          //-   br
          //-   |  tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus.
        |                     
        .row
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='0ms')
              .img-wrapper
                a(href="#1287C19Modal", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/1287C19/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Brando 
                |                                 
                p
                  | RMB 399
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='300ms')
              .img-wrapper
                a(href="#3016A3Modal", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/3016A3/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Cage
                |                                 
                p
                  | RMB 399
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='600ms')
              .img-wrapper
                a(href="#5156C19Modal", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/5156C19/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Pacino
                |                                 
                p
                  | RMB 399
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='900ms')
              .img-wrapper
                a(href="#5221Modal", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/5221金/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Lawrence
                |                                 
                p
                  | RMB 299
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='1200ms')
              .img-wrapper
                a(href="#5225Modal", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/5225/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Alba
                |                                 
                p
                  | RMB 299
          |                         
          .col-sm-4.col-xs-12
            figure.wow.fadeInLeft.animated.portfolio-item(data-wow-duration='500ms', data-wow-delay='1500ms')
              .img-wrapper
                a(href="#5353C19Modal", data-toggle="modal")
                  img.img-responsive(src='images/productimgs/5353C19/1.jpg', alt='this is a title')
              |                                 
              figcaption
                h4
                  a(href='#')
                    | Spacey
                |                                 
                p
                  | RMB 299
    // #works

    //
      ==================================================
      About Section Start
      ==================================================
    section#about
      .container
        .row
          |                         
          .col-md-6.col-sm-6
            .block.wow.fadeInRight(data-wow-delay='.3s', data-wow-duration='500ms')
              img(src='images/about/about.jpg', alt='')
          .col-md-6.col-sm-6
            .block.wow.fadeInLeft(data-wow-delay='.3s', data-wow-duration='500ms')
              h2
                | 属于你的设计
              |                                 
              p
                | 作为爱美的新一代，为什么不能选自己喜欢的设计呢？诣眼镜的下一款新品，由你来决定。在这里为你喜欢的款式投上一票，我们将在投票截止后选出票数最高的款式，进行进一步细节设计和生产。如果你投票眼镜最终生产，还能凭借优惠码打折呢~
              a.btn.btn-default.btn-detail.wow.fadeInLeft(href='contact', data-wow-delay='.3s', data-wow-duration='500ms') 详情


    // /#about


    //
      ==================================================
      Portfolio Section Start
      ==================================================
    //- section#feature
    //-   .container
    //-     .section-heading
    //-       h1.title.wow.fadeInDown(data-wow-delay='.3s') Offer From Me
    //-       |                         
    //-       p.wow.fadeInDown(data-wow-delay='.5s')
    //-         | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed,
    //-         br
    //-         |  quasi dolores numquam dolor vero ex, tempora commodi repellendus quod laborum.
    //-     |                     
    //-     .row
    //-       .col-md-4.col-lg-4.col-xs-12
    //-         .media.wow.fadeInUp.animated(data-wow-duration='500ms', data-wow-delay='300ms')
    //-           .media-left
    //-             .icon
    //-               i.ion-ios-flask-outline
    //-           |                                 
    //-           .media-body
    //-             h4.media-heading Media heading
    //-             |                                     
    //-             p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.
    //-       |                         
    //-       .col-md-4.col-lg-4.col-xs-12
    //-         .media.wow.fadeInDown.animated(data-wow-duration='500ms', data-wow-delay='600ms')
    //-           .media-left
    //-             .icon
    //-               i.ion-ios-lightbulb-outline
    //-           |                                 
    //-           .media-body
    //-             h4.media-heading Well documented.
    //-             |                                     
    //-             p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.
    //-       |                         
    //-       .col-md-4.col-lg-4.col-xs-12
    //-         .media.wow.fadeInDown.animated(data-wow-duration='500ms', data-wow-delay='900ms')
    //-           .media-left
    //-             .icon
    //-               i.ion-ios-lightbulb-outline
    //-           |                                 
    //-           .media-body
    //-             h4.media-heading Well documented.
    //-             |                                     
    //-             p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.
    //-       |                         
    //-       .col-md-4.col-lg-4.col-xs-12
    //-         .media.wow.fadeInDown.animated(data-wow-duration='500ms', data-wow-delay='1200ms')
    //-           .media-left
    //-             .icon
    //-               i.ion-ios-americanfootball-outline
    //-           |                                 
    //-           .media-body
    //-             h4.media-heading Free updates
    //-             |                                     
    //-             p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.
    //-       |                         
    //-       .col-md-4.col-lg-4.col-xs-12
    //-         .media.wow.fadeInDown.animated(data-wow-duration='500ms', data-wow-delay='1500ms')
    //-           .media-left
    //-             .icon
    //-               i.ion-ios-keypad-outline
    //-           |                                 
    //-           .media-body
    //-             h4.media-heading Solid Support
    //-             |                                     
    //-             p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.
    //-       |                         
    //-       .col-md-4.col-lg-4.col-xs-12
    //-         .media.wow.fadeInDown.animated(data-wow-duration='500ms', data-wow-delay='1800ms')
    //-           .media-left
    //-             .icon
    //-               i.ion-ios-barcode-outline
    //-           |                                 
    //-           .media-body
    //-             h4.media-heading Simple Installation
    //-             |                                     
    //-             p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, sint.
    // /#feature
    //
      ==================================================
      Call To Action Section Start
      ==================================================
    include ../layouts/calltoaction.jade 

    include ../layouts/gallerymodals.jade
