extends ../layouts/header
block content
    //
      ==================================================
      Global Page Section Start
      ==================================================
    section.global-page-header
      .container
        .row
          .col-md-12
            .block
              h2 Big Headline for Portfolio Project
              |                             
              .portfolio-meta
                span Dec 11, 2020
                | |
                |                                
                span  Category: typography
                | |
                |                                
                span
                  | website: 
                  a(href='http://www.themefisher.com') Themefisher
    // /#Page header
    section.portfolio-single
      .container
        .row
          .col-md-12
            .portfolio-single-img
              img.img-responsive(alt='', src='images/portfolio/post-1.jpg')
            |                             
            .portfolio-content
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas sit expedita, iusto repellendus cumque, officia architecto consequatur illo fuga eum sed ut autem eos voluptas. Nemo, a, rem! Atque quisquam aperiam eaque tenetur autem, soluta itaque omnis. Minus nesciunt, sint, animi illum quo ab voluptate esse delectus unde maiores iure, quasi a suscipit ipsam aliquid voluptatem. Perspiciatis eveniet, pariatur illum aut cum dolor neque consequatur error aliquid facilis in quasi temporibus assumenda tempore, doloremque autem saepe enim nihil. Voluptates asperiores ullam voluptate quas similique ratione quia hic, eum distinctio laboriosam, consectetur tempora voluptatibus optio natus cumque est necessitatibus dolore alias.
              |                                 
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis expedita repellendus laboriosam aliquid. Neque doloribus ea, id reprehenderit alias saepe debitis eligendi molestias odit, nesciunt rem. Dolorem saepe, provident dolore nesciunt laudantium nostrum enim natus veritatis harum maxime et iure ratione, nulla. Minus excepturi commodi tempore voluptate. Blanditiis similique dolor asperiores ex excepturi perspiciatis, dolores id esse. Voluptate beatae nesciunt cum esse ratione officiis necessitatibus blanditiis ea, laboriosam fugit vero maxime? Voluptatum illo dolorum autem pariatur quisquam. Voluptates soluta culpa necessitatibus veritatis tempora incidunt doloribus placeat repellat et facilis eum sapiente fugit numquam aut, laboriosam aspernatur, esse, magnam excepturi repudiandae amet voluptas nulla quidem. Veritatis nisi consequuntur saepe qui quisquam dignissimos assumenda, iusto odio. Dignissimos reprehenderit esse iusto cupiditate nisi enim, animi similique itaque, perspiciatis error qui. Aperiam, architecto provident.
    |             
    section.works.works-fit
      .container
        h2.subtitle Some Of Our Features Works
        |                     
        p.subtitle-des
          | Aliquam lobortis. Maecenas vestibulum mollis diam. Pellentesque auctor neque nec urna. Nulla sit amet est. Aenean posuere 
          br
          |  tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus.
        |                 
        .row
          .col-sm-3
            figure.wow.fadeInLeft.animated.portfolio-item.animated(data-wow-duration='300ms', data-wow-delay='0ms', style='visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;')
              .img-wrapper
                img.img-responsive(src='images/portfolio/item-1.jpg', alt='portfolio items')
                |                                 
                .overlay
                  .buttons
                    a.fancybox(rel='gallery', title='Proin imperdiet augue et magna interdum hendrerit', href='images/portfolio/item-1.jpg') Demo
                    |         
                    |                                         
                    a(target='_blank', href='single-postfolio') Details
              |                             
              figcaption
                h4
                  a(href='#')
                    | Dew Drop
                |                                 
                p
                  | Redesigne UI Concept
          |                     
          .col-sm-3
            figure.wow.fadeInLeft.animated.animated(data-wow-duration='300ms', data-wow-delay='300ms', style='visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 300ms; -webkit-animation-delay: 300ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;')
              .img-wrapper
                img.img-responsive(src='images/portfolio/item-2.jpg', alt='portfolio items')
                |                                 
                .overlay
                  .buttons
                    a.fancybox(rel='gallery', title='Proin imperdiet augue et magna interdum hendrerit', href='images/portfolio/item-2.jpg') Demo
                    |         
                    |                                         
                    a(target='_blank', href='single-postfolio') Details
              |                             
              figcaption
                h4
                  a(href='#')
                    | Bottle Mockup
                |                                 
                p
                  | Lorem ipsum dolor sit.
          |                     
          .col-sm-3
            figure.wow.fadeInLeft.animated.animated(data-wow-duration='300ms', data-wow-delay='300ms', style='visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 300ms; -webkit-animation-delay: 300ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;')
              .img-wrapper
                img.img-responsive(src='images/portfolio/item-3.jpg', alt='')
                |                                 
                .overlay
                  .buttons
                    a.fancybox(rel='gallery', title='Proin imperdiet augue et magna interdum hendrerit', href='images/portfolio/item-3.jpg') Demo
                    |         
                    |                                         
                    a(target='_blank', href='single-postfolio') Details
              |                             
              figcaption
                h4
                  a(href='#')
                    | Table Design
                |                                 
                p
                  | Lorem ipsum dolor sit amet.
          |                     
          .col-sm-3
            figure.wow.fadeInLeft.animated.animated(data-wow-duration='300ms', data-wow-delay='600ms', style='visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 600ms; -webkit-animation-delay: 600ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;')
              .img-wrapper
                img.img-responsive(src='images/portfolio/item-4.jpg', alt='')
                |                                 
                .overlay
                  .buttons
                    a.fancybox(rel='gallery', title='Proin imperdiet augue et magna interdum hendrerit', href='images/portfolio/item-4.jpg') Demo
                    |         
                    |                                         
                    a(target='_blank', href='single-postfolio') Details
              |                             
              figcaption
                h4
                  a(href='#')
                    | Make Up elements
                |                                 
                p
                  | Lorem ipsum dolor.
    //
      ==================================================
      Call To Action Section Start
      ==================================================
    section#call-to-action
      .container
        .row
          .col-md-12
            .block
              h2.title.wow.fadeInDown(data-wow-delay='.3s', data-wow-duration='300ms')
                | SO WHAT YOU THINK ?
                p.wow.fadeInDown(data-wow-delay='.5s', data-wow-duration='300ms')
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis,
                  br
                  | possimus commodi, fugiat magnam temporibus vero magni recusandae? Dolore, maxime praesentium.
                |                                 
                a.btn.btn-default.btn-contact.wow.fadeInDown(href='#', data-wow-delay='.7s', data-wow-duration='300ms') Contact With Me
    //
      ==================================================
      Footer Section Start
      ==================================================
    footer#footer
      .container
        .col-md-8
          p.copyright
            | Copyright: 
            span 2015
            |  . Design and Developed by 
            a(href='http://www.Themefisher.com') Themefisher
        |                     
        .col-md-4
          // Social Media
          ul.social
            li
              a.Facebook(href='#')
                i.ion-social-facebook
            |                             
            li
              a.Twitter(href='#')
                i.ion-social-twitter
            |                             
            li
              a.Linkedin(href='#')
                i.ion-social-linkedin
            |                             
            li
              a.Google.Plus(href='#')
                i.ion-social-googleplus
    // /#footer
