//
  ==================================================
  Call To Action Section Start
  ==================================================
section#call-to-action
  .container
    .row
      .col-md-12
        .block
          h2.title.wow.fadeInDown(data-wow-delay='.3s', data-wow-duration='500ms')
            | SO，你想加入我们吗 ?
            p.wow.fadeInDown(data-wow-delay='.5s', data-wow-duration='500ms')
              | 我们天马行空，我们做事认真，我们接纳新想法
              br
              | 如果你有更好的想法，无论是关于设计或运营，无论是建议或求职，请
            |                                 
            a.btn.btn-default.btn-contact.wow.fadeInDown(href='contact', data-wow-delay='.7s', data-wow-duration='500ms') 联系我们