//New Product 1 Modal  
#designModal1.portfolio-modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-content
    .close-modal(data-dismiss="modal")
      .lr
        .rl
    .container
      .row
          .modal-body
            .col-lg-8
              //- p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              img.img-responsive.img-centered(src="images/designimgs/1.jpg", alt="")
              br
            .col-lg-4
              h2 新款1
              p 此款眼镜将会在5月1日正式上市
              p 正式售价为 499
              .progress
                .progress-bar.progress-bar-warning(role="progressbar",aria-valuenow="60",aria-valuemin="0",aria-valuemax="100",style="width: 60%")
                  | 60%
                  span.sr-only 60%
              button.btn.btn-success.btn-lg#likebutton
                i.fa.fa-thumbs-up
                | 喜欢(1023)
              button.btn.btn-danger.btn-lg#dislikebutton
                i.fa.fa-thumbs-down
                | 不喜欢(234)
