doctype html
//
  Author: W3layouts
  Author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
html
  // Head
  head
    title &#x6DF1;&#x5733;&#x5E02;&#x6B66;&#x8B66;&#x8FB9;&#x9632;&#x7CFB;&#x7EDF;
    // For-Mobile-Apps
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='Multi Login & Signup Form Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design')
    // //For-Mobile-Apps
    // Web-Fonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300', rel='stylesheet', type='text/css')
    // //Web-Fonts
    // Horizontal-Tabs-JavaScript
    // jQuery文件。务必在bootstrap.min.js 之前引入
    script(src='http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
    // 最新的 Bootstrap 核心 JavaScript 文件
    script(src='http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
    // 新 Bootstrap 核心 CSS 文件
    link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/login.css', type='text/css', media='all')
    // Horizontal-Tabs-JavaScript
  // Head
  // Body
  body
    // //Headng
    // Container
    .container
      h1 &#x529E;&#x8BC1;&#x9884;&#x7EA6;
      | &#x9;&#x9;
      form
        .form-group
          //- label(for='exampleInputEmail1') &#x59D3;&#x540D;
          //- | &#x9;&#x9;    
          input#exampleInputEmail1.form-control(type='email', placeholder='姓名')
        | &#x9;&#x9;  
        .form-group
          //- label(for='exampleInputPassword1') &#x8EAB;&#x4EFD;&#x8BC1;
          //- | &#x9;&#x9;    
          input#exampleInputPassword1.form-control(type='password', placeholder='身份证')
        | &#x9;&#x9;  
        .form-group
          .dropdown
            button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
              | &#x4E1A;&#x52A1;&#x7C7B;&#x578B;
              span.caret
            | &#x9;&#x9;&#x9;  
            ul.dropdown-menu(aria-labelledby='dropdownMenu1')
              li
                a(href='#') &#x7C7B;&#x578B;1
              | &#x9;&#x9;&#x9;    
              li
                a(href='#') &#x7C7B;&#x578B;2
              | &#x9;&#x9;&#x9;    
              li
                a(href='#') &#x7C7B;&#x578B;3
              | &#x9;&#x9;&#x9;    
              li
                a(href='#') &#x7C7B;&#x578B;4
        | &#x9;&#x9;  
        .form-group
          .dropdown
            button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
              | &#x65E5;&#x671F;
              span.caret
            | &#x9;&#x9;&#x9;  
            ul.dropdown-menu(aria-labelledby='dropdownMenu1')
              li
                a(href='#') 7&#x6708;1&#x65E5;
              | &#x9;&#x9;&#x9;    
              li
                a(href='#') 7&#x6708;2&#x65E5;
              | &#x9;&#x9;&#x9;    
              li
                a(href='#') 7&#x6708;3&#x65E5;
              | &#x9;&#x9;&#x9;    
              li
                a(href='#') 7&#x6708;4&#x65E5;
        | &#x9;&#x9;  
        button.btn.btn-default(type='submit') &#x63D0;&#x4EA4;&#x9884;&#x7EA6;
    // //Container
    // Footer
    .footer
      // Copyright
      .copyright
        // <p> &copy; 2016 Multi Login & Signup Form. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
      // //Copyright
    // //Footer
  // //Body
