doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    meta(name='description', content='')
    |     
    meta(name='author', content='')
    |     
    title Responsive Onepage HTML Template | Multi
    // core CSS
    link(href='qianhaiyuncheng/css/bootstrap.min.css', rel='stylesheet')
    |     
    link(href='qianhaiyuncheng/css/font-awesome.min.css', rel='stylesheet')
    |     
    link(href='qianhaiyuncheng/css/animate.min.css', rel='stylesheet')
    |     
    link(href='qianhaiyuncheng/css/owl.carousel.css', rel='stylesheet')
    |     
    link(href='qianhaiyuncheng/css/owl.transitions.css', rel='stylesheet')
    |     
    link(href='qianhaiyuncheng/css/prettyPhoto.css', rel='stylesheet')
    |     
    link(href='qianhaiyuncheng/css/main.css', rel='stylesheet')
    |     
    link(href='qianhaiyuncheng/css/responsive.css', rel='stylesheet')
    //if lt IE 9
      script(src='qianhaiyuncheng/js/html5shiv.js')
      |     
      script(src='qianhaiyuncheng/js/respond.min.js')
    |        
    |     
    link(rel='shortcut icon', href='qianhaiyuncheng/images/ico/favicon.ico')
    |     
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='qianhaiyuncheng/images/ico/apple-touch-icon-144-precomposed.png')
    |     
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='qianhaiyuncheng/images/ico/apple-touch-icon-114-precomposed.png')
    |     
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='qianhaiyuncheng/images/ico/apple-touch-icon-72-precomposed.png')
    |     
    link(rel='apple-touch-icon-precomposed', href='qianhaiyuncheng/images/ico/apple-touch-icon-57-precomposed.png')
  // /head
  body#home.homepage
    header#header
      nav#main-menu.navbar.navbar-default.navbar-fixed-top(role='banner')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              |                         
              span.icon-bar
              |                         
              span.icon-bar
              |                         
              span.icon-bar
            |                     
            a.navbar-brand(href='index.html')
              img(src='qianhaiyuncheng/images/logo.png', alt='logo')
          | &#x9;&#x9;&#x9;&#x9;
          |                 
          .collapse.navbar-collapse.navbar-right
            ul.nav.navbar-nav
              li.scroll.active
                a(href='#home') Home
              |                         
              li.scroll
                a(href='#features') Features
              |                         
              li.scroll
                a(href='#services') Services
              |                         
              li.scroll
                a(href='#portfolio') Portfolio
              |                         
              li.scroll
                a(href='#about') About
              |                         
              li.scroll
                a(href='#meet-team') Team
              |                         
              li.scroll
                a(href='#pricing') Pricing
              |                         
              li.scroll
                a(href='#blog') Blog
              |  
              |                         
              li.scroll
                a(href='#get-in-touch') Contact
        // /.container
      // /nav
    // /header
    section#main-slider
      .owl-carousel
        .item(style='background-image: url(qianhaiyuncheng/images/slider/bg1.jpg);')
          .slider-inner
            .container
              .row
                .col-sm-6
                  .carousel-content
                    h2
                      span Multi
                      |  is the best Onepage html template
                    |                                     
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et  dolore magna incididunt ut labore aliqua.
                    |                                     
                    a.btn.btn-primary.btn-lg(href='#') Read More
        // /.item
        .item(style='background-image: url(qianhaiyuncheng/images/slider/bg2.jpg);')
          .slider-inner
            .container
              .row
                .col-sm-6
                  .carousel-content
                    h2
                      | Beautifully designed 
                      span free
                      |  one page template
                    |                                     
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et  dolore magna incididunt ut labore aliqua.
                    |                                     
                    a.btn.btn-primary.btn-lg(href='#') Read More
        // /.item
      // /.owl-carousel
    // /#main-slider
    section#cta.wow.fadeIn
      .container
        .row
          .col-sm-9
            h2 Premium quality free onepage template
            |                     
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          |                 
          .col-sm-3.text-right
            a.btn.btn-primary.btn-lg(href='#') Download Now!
    // /#cta
    section#features
      .container
        .section-header
          h2.section-title.text-center.wow.fadeInDown Awesome Features
          |                 
          p.text-center.wow.fadeInDown
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        |             
        .row
          .col-sm-6.wow.fadeInLeft
            img.img-responsive(src='qianhaiyuncheng/images/main-feature.png', alt='')
          |                 
          .col-sm-6
            .media.service-box.wow.fadeInRight
              .pull-left
                i.fa.fa-line-chart
              |                         
              .media-body
                h4.media-heading UX design
                |                             
                p
                  | Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater
            |                     
            .media.service-box.wow.fadeInRight
              .pull-left
                i.fa.fa-cubes
              |                         
              .media-body
                h4.media-heading UI design
                |                             
                p
                  | Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater
            |                     
            .media.service-box.wow.fadeInRight
              .pull-left
                i.fa.fa-pie-chart
              |                         
              .media-body
                h4.media-heading SEO Services
                |                             
                p
                  | Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater
            |                     
            .media.service-box.wow.fadeInRight
              .pull-left
                i.fa.fa-pie-chart
              |                         
              .media-body
                h4.media-heading SEO Services
                |                             
                p
                  | Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater
    |     
    section#cta2
      .container
        .text-center
          h2.wow.fadeInUp(data-wow-duration='300ms', data-wow-delay='0ms')
            span MULTI
            |  IS A CREATIVE HTML TEMPLATE
          |                 
          p.wow.fadeInUp(data-wow-duration='300ms', data-wow-delay='100ms')
            | Mauris pretium auctor quam. Vestibulum et nunc id nisi fringilla 
            br
            | iaculis. Mauris pretium auctor quam.
          |                 
          p.wow.fadeInUp(data-wow-duration='300ms', data-wow-delay='200ms')
            a.btn.btn-primary.btn-lg(href='#') Free Download
          |                 
          img.img-responsive.wow.fadeIn(src='qianhaiyuncheng/images/cta2/cta2-img.png', alt='', data-wow-duration='300ms', data-wow-delay='300ms')
    |     
    section#services
      .container
        .section-header
          h2.section-title.text-center.wow.fadeInDown Our Services
          |                 
          p.text-center.wow.fadeInDown
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        |             
        .row
          .features
            .col-md-4.col-sm-6.wow.fadeInUp(data-wow-duration='300ms', data-wow-delay='0ms')
              .media.service-box
                .pull-left
                  i.fa.fa-line-chart
                |                             
                .media-body
                  h4.media-heading UX design
                  |                                 
                  p
                    | Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater
            // /.col-md-4
            .col-md-4.col-sm-6.wow.fadeInUp(data-wow-duration='300ms', data-wow-delay='100ms')
              .media.service-box
                .pull-left
                  i.fa.fa-cubes
                |                             
                .media-body
                  h4.media-heading UI design
                  |                                 
                  p
                    | Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater
            // /.col-md-4
            .col-md-4.col-sm-6.wow.fadeInUp(data-wow-duration='300ms', data-wow-delay='200ms')
              .media.service-box
                .pull-left
                  i.fa.fa-pie-chart
                |                             
                .media-body
                  h4.media-heading SEO Services
                  |                                 
                  p
                    | Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater
            // /.col-md-4
            .col-md-4.col-sm-6.wow.fadeInUp(data-wow-duration='300ms', data-wow-delay='300ms')
              .media.service-box
                .pull-left
                  i.fa.fa-bar-chart
                |                             
                .media-body
                  h4.media-heading iOS App
                  |                                 
                  p
                    | Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater
            // /.col-md-4
            .col-md-4.col-sm-6.wow.fadeInUp(data-wow-duration='300ms', data-wow-delay='400ms')
              .media.service-box
                .pull-left
                  i.fa.fa-language
                |                             
                .media-body
                  h4.media-heading Android App
                  |                                 
                  p
                    | Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater
            // /.col-md-4
            .col-md-4.col-sm-6.wow.fadeInUp(data-wow-duration='300ms', data-wow-delay='500ms')
              .media.service-box
                .pull-left
                  i.fa.fa-bullseye
                |                             
                .media-body
                  h4.media-heading Win App
                  |                                 
                  p
                    | Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater
            // /.col-md-4
        // /.row
      // /.container
    // /#services
    section#portfolio
      .container
        .section-header
          h2.section-title.text-center.wow.fadeInDown Our Works
          |                 
          p.text-center.wow.fadeInDown
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        |             
        .text-center
          ul.portfolio-filter
            li
              a.active(href='#', data-filter='*') All Works
            |                     
            li
              a(href='#', data-filter='.creative') Creative
            |                     
            li
              a(href='#', data-filter='.corporate') Corporate
            |                     
            li
              a(href='#', data-filter='.portfolio') Portfolio
          // /#portfolio-filter
        |             
        .portfolio-items
          .portfolio-item.creative
            .portfolio-item-inner
              img.img-responsive(src='qianhaiyuncheng/images/portfolio/01.jpg', alt='')
              |                         
              .portfolio-info
                h3 Portfolio Item 1
                |                             Lorem Ipsum Dolor Sit
                |                             
                a.preview(href='qianhaiyuncheng/images/portfolio/full.jpg', rel='prettyPhoto')
                  i.fa.fa-eye
          // /.portfolio-item
          .portfolio-item.corporate.portfolio
            .portfolio-item-inner
              img.img-responsive(src='qianhaiyuncheng/images/portfolio/02.jpg', alt='')
              |                         
              .portfolio-info
                h3 Portfolio Item 2
                |                             Lorem Ipsum Dolor Sit
                |                             
                a.preview(href='qianhaiyuncheng/images/portfolio/full.jpg', rel='prettyPhoto')
                  i.fa.fa-eye
          // /.portfolio-item
          .portfolio-item.creative
            .portfolio-item-inner
              img.img-responsive(src='qianhaiyuncheng/images/portfolio/03.jpg', alt='')
              |                         
              .portfolio-info
                h3 Portfolio Item 3
                |                             Lorem Ipsum Dolor Sit
                |                             
                a.preview(href='qianhaiyuncheng/images/portfolio/full.jpg', rel='prettyPhoto')
                  i.fa.fa-eye
          // /.portfolio-item
          .portfolio-item.corporate
            .portfolio-item-inner
              img.img-responsive(src='qianhaiyuncheng/images/portfolio/04.jpg', alt='')
              |                         
              .portfolio-info
                h3 Portfolio Item 4
                |                             Lorem Ipsum Dolor Sit
                |                             
                a.preview(href='qianhaiyuncheng/images/portfolio/full.jpg', rel='prettyPhoto')
                  i.fa.fa-eye
          // /.portfolio-item
          .portfolio-item.creative.portfolio
            .portfolio-item-inner
              img.img-responsive(src='qianhaiyuncheng/images/portfolio/05.jpg', alt='')
              |                         
              .portfolio-info
                h3 Portfolio Item 5
                |                             Lorem Ipsum Dolor Sit
                |                             
                a.preview(href='qianhaiyuncheng/images/portfolio/full.jpg', rel='prettyPhoto')
                  i.fa.fa-eye
          // /.portfolio-item
          .portfolio-item.corporate
            .portfolio-item-inner
              img.img-responsive(src='qianhaiyuncheng/images/portfolio/06.jpg', alt='')
              |                         
              .portfolio-info
                h3 Portfolio Item 5
                |                             Lorem Ipsum Dolor Sit
                |                             
                a.preview(href='qianhaiyuncheng/images/portfolio/full.jpg', rel='prettyPhoto')
                  i.fa.fa-eye
          // /.portfolio-item
          .portfolio-item.creative.portfolio
            .portfolio-item-inner
              img.img-responsive(src='qianhaiyuncheng/images/portfolio/07.jpg', alt='')
              |                         
              .portfolio-info
                h3 Portfolio Item 7
                |                             Lorem Ipsum Dolor Sit
                |                             
                a.preview(href='qianhaiyuncheng/images/portfolio/full.jpg', rel='prettyPhoto')
                  i.fa.fa-eye
          // /.portfolio-item
          .portfolio-item.corporate
            .portfolio-item-inner
              img.img-responsive(src='qianhaiyuncheng/images/portfolio/08.jpg', alt='')
              |                         
              .portfolio-info
                h3 Portfolio Item 8
                |                             Lorem Ipsum Dolor Sit
                |                             
                a.preview(href='qianhaiyuncheng/images/portfolio/full.jpg', rel='prettyPhoto')
                  i.fa.fa-eye
          // /.portfolio-item
      // /.container
    // /#portfolio
    section#about
      .container
        .section-header
          h2.section-title.text-center.wow.fadeInDown About Us
          |                 
          p.text-center.wow.fadeInDown
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        |             
        .row
          .col-sm-6.wow.fadeInLeft
            h3.column-title Video Intro
            // 16:9 aspect ratio
            .embed-responsive.embed-responsive-16by9
              iframe(src='//player.vimeo.com/video/58093852?title=0&byline=0&portrait=0&color=e79b39', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
          |                 
          .col-sm-6.wow.fadeInRight
            h3.column-title Multi Capability
            |                     
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            |                     
            p
              | Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            |                     
            .row
              .col-sm-6
                ul.nostyle
                  li
                    i.fa.fa-check-square
                    |  Ipsum is simply dummy
                  |                                 
                  li
                    i.fa.fa-check-square
                    |  When an unknown
              |                         
              .col-sm-6
                ul.nostyle
                  li
                    i.fa.fa-check-square
                    |  The printing and typesetting
                  |                                 
                  li
                    i.fa.fa-check-square
                    |  Lorem Ipsum has been
            |                     
            a.btn.btn-primary(href='#') Learn More
    // /#about
    section#work-process
      .container
        .section-header
          h2.section-title.text-center.wow.fadeInDown Our Process
          |                 
          p.text-center.wow.fadeInDown
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        |             
        .row.text-center
          .col-md-2.col-md-4.col-xs-6
            .wow.fadeInUp(data-wow-duration='400ms', data-wow-delay='0ms')
              .icon-circle
                span 1
                |                             
                i.fa.fa-coffee.fa-2x
              |                         
              h3 MEET
          |                 
          .col-md-2.col-md-4.col-xs-6
            .wow.fadeInUp(data-wow-duration='400ms', data-wow-delay='100ms')
              .icon-circle
                span 2
                |                             
                i.fa.fa-bullhorn.fa-2x
              |                         
              h3 PLAN
          |                 
          .col-md-2.col-md-4.col-xs-6
            .wow.fadeInUp(data-wow-duration='400ms', data-wow-delay='200ms')
              .icon-circle
                span 3
                |                             
                i.fa.fa-image.fa-2x
              |                         
              h3 DESIGN
          |                 
          .col-md-2.col-md-4.col-xs-6
            .wow.fadeInUp(data-wow-duration='400ms', data-wow-delay='300ms')
              .icon-circle
                span 4
                |                             
                i.fa.fa-heart.fa-2x
              |                         
              h3 DEVELOP
          |                 
          .col-md-2.col-md-4.col-xs-6
            .wow.fadeInUp(data-wow-duration='400ms', data-wow-delay='400ms')
              .icon-circle
                span 5
                |                             
                i.fa.fa-shopping-cart.fa-2x
              |                         
              h3 TESTING
          |                 
          .col-md-2.col-md-4.col-xs-6
            .wow.fadeInUp(data-wow-duration='400ms', data-wow-delay='500ms')
              .icon-circle
                span 6
                |                             
                i.fa.fa-space-shuttle.fa-2x
              |                         
              h3 LAUNCH
    // /#work-process
    section#meet-team
      .container
        .section-header
          h2.section-title.text-center.wow.fadeInDown Meet The Team
          |                 
          p.text-center.wow.fadeInDown
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        |             
        .row
          .col-sm-6.col-md-3
            .team-member.wow.fadeInUp(data-wow-duration='400ms', data-wow-delay='0ms')
              .team-img
                img.img-responsive(src='qianhaiyuncheng/images/team/01.jpg', alt='')
              |                         
              .team-info
                h3 Bin Burhan
                |                             
                span Co-Founder
              |                         
              p
                | Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater
              |                         
              ul.social-icons
                li
                  a(href='#')
                    i.fa.fa-facebook
                |                             
                li
                  a(href='#')
                    i.fa.fa-twitter
                |                             
                li
                  a(href='#')
                    i.fa.fa-google-plus
                |                             
                li
                  a(href='#')
                    i.fa.fa-linkedin
          |                 
          .col-sm-6.col-md-3
            .team-member.wow.fadeInUp(data-wow-duration='400ms', data-wow-delay='100ms')
              .team-img
                img.img-responsive(src='qianhaiyuncheng/images/team/02.jpg', alt='')
              |                         
              .team-info
                h3 Jane Man
                |                             
                span Project Manager
              |                         
              p
                | Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater
              |                         
              ul.social-icons
                li
                  a(href='#')
                    i.fa.fa-facebook
                |                             
                li
                  a(href='#')
                    i.fa.fa-twitter
                |                             
                li
                  a(href='#')
                    i.fa.fa-google-plus
                |                             
                li
                  a(href='#')
                    i.fa.fa-linkedin
          |                 
          .col-sm-6.col-md-3
            .team-member.wow.fadeInUp(data-wow-duration='400ms', data-wow-delay='200ms')
              .team-img
                img.img-responsive(src='qianhaiyuncheng/images/team/03.jpg', alt='')
              |                         
              .team-info
                h3 Pahlwan
                |                             
                span Designer
              |                         
              p
                | Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater
              |                         
              ul.social-icons
                li
                  a(href='#')
                    i.fa.fa-facebook
                |                             
                li
                  a(href='#')
                    i.fa.fa-twitter
                |                             
                li
                  a(href='#')
                    i.fa.fa-google-plus
                |                             
                li
                  a(href='#')
                    i.fa.fa-linkedin
          |                 
          .col-sm-6.col-md-3
            .team-member.wow.fadeInUp(data-wow-duration='400ms', data-wow-delay='300ms')
              .team-img
                img.img-responsive(src='qianhaiyuncheng/images/team/04.jpg', alt='')
              |                         
              .team-info
                h3 Nasir uddin
                |                             
                span UI/UX
              |                         
              p
                | Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater
              |                         
              ul.social-icons
                li
                  a(href='#')
                    i.fa.fa-facebook
                |                             
                li
                  a(href='#')
                    i.fa.fa-twitter
                |                             
                li
                  a(href='#')
                    i.fa.fa-google-plus
                |                             
                li
                  a(href='#')
                    i.fa.fa-linkedin
        |             
        .divider
        |             
        .row
          .col-sm-4
            h3.column-title Our Skills
            |                     
            strong GRAPHIC DESIGN
            |                     
            .progress
              .progress-bar.progress-bar-primary(role='progressbar', data-width='85') 85%
            |                     
            strong WEB DESIGN
            |                     
            .progress
              .progress-bar.progress-bar-primary(role='progressbar', data-width='70') 70%
            |                     
            strong WORDPRESS DEVELOPMENT
            |                     
            .progress
              .progress-bar.progress-bar-primary(role='progressbar', data-width='90') 90%
            |                     
            strong JOOMLA DEVELOPMENT
            |                     
            .progress
              .progress-bar.progress-bar-primary(role='progressbar', data-width='65') 65%
          |                 
          .col-sm-4
            h3.column-title Our History
            |                     
            div(role='tabpanel')
              ul.nav.main-tab.nav-justified(role='tablist')
                li.active(role='presentation')
                  a(href='#tab1', role='tab', data-toggle='tab', aria-controls='tab1', aria-expanded='true') 2010
                |                             
                li(role='presentation')
                  a(href='#tab2', role='tab', data-toggle='tab', aria-controls='tab2', aria-expanded='false') 2011
                |                             
                li(role='presentation')
                  a(href='#tab3', role='tab', data-toggle='tab', aria-controls='tab3', aria-expanded='false') 2013
                |                             
                li(role='presentation')
                  a(href='#tab4', role='tab', data-toggle='tab', aria-controls='tab4', aria-expanded='false') 2014
              |                         
              #tab-content.tab-content
                #tab1.tab-pane.fade.active.in(role='tabpanel', aria-labelledby='tab1')
                  p
                    | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                  |                                 
                  p
                    | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters readable English.
                |                             
                #tab2.tab-pane.fade(role='tabpanel', aria-labelledby='tab2')
                  p
                    | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                  |                                 
                  p
                    | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters readable English.
                |                             
                #tab3.tab-pane.fade(role='tabpanel', aria-labelledby='tab3')
                  p
                    | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                  |                                 
                  p
                    | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters readable English.
                |                             
                #tab4.tab-pane.fade(role='tabpanel', aria-labelledby='tab3')
                  p
                    | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                  |                                 
                  p
                    | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters readable English.
          |                 
          .col-sm-4
            h3.column-title Faqs
            |                     
            #accordion.panel-group(role='tablist', aria-multiselectable='true')
              .panel.panel-default
                #headingOne.panel-heading(role='tab')
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                      | Enim eiusmod high life accusamus
                |                             
                #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                  .panel-body
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum.
              |                         
              .panel.panel-default
                #headingTwo.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                      | Nihil anim keffiyeh helvetica
                |                             
                #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                  .panel-body
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum.
              |                         
              .panel.panel-default
                #headingThree.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                      | Vegan excepteur butcher vice lomo
                |                             
                #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                  .panel-body
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum.
    // /#meet-team
    section#animated-number
      .container
        .section-header
          h2.section-title.text-center.wow.fadeInDown Fun Facts
          |                 
          p.text-center.wow.fadeInDown
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        |             
        .row.text-center
          .col-sm-3.col-xs-6
            .wow.fadeInUp(data-wow-duration='400ms', data-wow-delay='0ms')
              .animated-number(data-digit='2305', data-duration='1000')
              |                         
              strong CUPS OF COFFEE CONSUMED
          |                 
          .col-sm-3.col-xs-6
            .wow.fadeInUp(data-wow-duration='400ms', data-wow-delay='100ms')
              .animated-number(data-digit='1231', data-duration='1000')
              |                         
              strong CLIENT WORKED WITH
          |                 
          .col-sm-3.col-xs-6
            .wow.fadeInUp(data-wow-duration='400ms', data-wow-delay='200ms')
              .animated-number(data-digit='3025', data-duration='1000')
              |                         
              strong PROJECT COMPLETED
          |                 
          .col-sm-3.col-xs-6
            .wow.fadeInUp(data-wow-duration='400ms', data-wow-delay='300ms')
              .animated-number(data-digit='1199', data-duration='1000')
              |                         
              strong QUESTIONS ANSWERED
    // /#animated-number
    section#pricing
      .container
        .section-header
          h2.section-title.text-center.wow.fadeInDown Pricing Table
          |                 
          p.text-center.wow.fadeInDown
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        |             
        .row
          .col-sm-6.col-md-3
            .wow.zoomIn(data-wow-duration='400ms', data-wow-delay='0ms')
              ul.pricing
                li.plan-header
                  .price-duration
                    span.price
                      | $39
                    |                                     
                    span.duration
                      | per month
                  |                                 
                  .plan-name
                    | Starter
                |                             
                li
                  strong 1
                  |  DOMAIN
                |                             
                li
                  strong 100GB
                  |  DISK SPACE
                |                             
                li
                  strong UNLIMITED
                  |  BANDWIDTH
                |                             
                li SHARED SSL CERTIFICATE
                |                             
                li
                  strong 10
                  |  EMAIL ADDRESS
                |                             
                li
                  strong 24/7
                  |  SUPPORT
                |                             
                li.plan-purchase
                  a.btn.btn-primary(href='#') ORDER NOW
          |                 
          .col-sm-6.col-md-3
            .wow.zoomIn(data-wow-duration='400ms', data-wow-delay='200ms')
              ul.pricing.featured
                li.plan-header
                  .price-duration
                    span.price
                      | $69
                    |                                     
                    span.duration
                      | per month
                  |                                 
                  .plan-name
                    | Business
                |                             
                li
                  strong 3
                  |  DOMAIN
                |                             
                li
                  strong 300GB
                  |  DISK SPACE
                |                             
                li
                  strong UNLIMITED
                  |  BANDWIDTH
                |                             
                li SHARED SSL CERTIFICATE
                |                             
                li
                  strong 30
                  |  EMAIL ADDRESS
                |                             
                li
                  strong 24/7
                  |  SUPPORT
                |                             
                li.plan-purchase
                  a.btn.btn-default(href='#') ORDER NOW
          |                 
          .col-sm-6.col-md-3
            .wow.zoomIn(data-wow-duration='400ms', data-wow-delay='400ms')
              ul.pricing
                li.plan-header
                  .price-duration
                    span.price
                      | $99
                    |                                     
                    span.duration
                      | per month
                  |                                 
                  .plan-name
                    | Pro
                |                             
                li
                  strong 5
                  |  DOMAIN
                |                             
                li
                  strong 500GB
                  |  DISK SPACE
                |                             
                li
                  strong UNLIMITED
                  |  BANDWIDTH
                |                             
                li SHARED SSL CERTIFICATE
                |                             
                li
                  strong 50
                  |  EMAIL ADDRESS
                |                             
                li
                  strong 24/7
                  |  SUPPORT
                |                             
                li.plan-purchase
                  a.btn.btn-primary(href='#') ORDER NOW
          |                 
          .col-sm-6.col-md-3
            .wow.zoomIn(data-wow-duration='400ms', data-wow-delay='600ms')
              ul.pricing
                li.plan-header
                  .price-duration
                    span.price
                      | $199
                    |                                     
                    span.duration
                      | per month
                  |                                 
                  .plan-name
                    | Ultra
                |                             
                li
                  strong 10
                  |  DOMAIN
                |                             
                li
                  strong 1000GB
                  |  DISK SPACE
                |                             
                li
                  strong UNLIMITED
                  |  BANDWIDTH
                |                             
                li SHARED SSL CERTIFICATE
                |                             
                li
                  strong 100
                  |  EMAIL ADDRESS
                |                             
                li
                  strong 24/7
                  |  SUPPORT
                |                             
                li.plan-purchase
                  a.btn.btn-primary(href='#') ORDER NOW
    // /#pricing
    section#testimonial
      .container
        .row
          .col-sm-8.col-sm-offset-2
            #carousel-testimonial.carousel.slide.text-center(data-ride='carousel')
              // Wrapper for slides
              .carousel-inner(role='listbox')
                .item.active
                  p
                    img.img-circle.img-thumbnail(src='qianhaiyuncheng/images/testimonial/01.jpg', alt='')
                  |                                 
                  h4 Louise S. Morgan
                  |                                 
                  small Treatment, storage, and disposal (TSD) worker
                  |                                 
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam
                |                             
                .item
                  p
                    img.img-circle.img-thumbnail(src='qianhaiyuncheng/images/testimonial/01.jpg', alt='')
                  |                                 
                  h4 Louise S. Morgan
                  |                                 
                  small Treatment, storage, and disposal (TSD) worker
                  |                                 
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam
              // Controls
              .btns
                a.btn.btn-primary.btn-sm(href='#carousel-testimonial', role='button', data-slide='prev')
                  span.fa.fa-angle-left(aria-hidden='true')
                  |                                 
                  span.sr-only Previous
                |                             
                a.btn.btn-primary.btn-sm(href='#carousel-testimonial', role='button', data-slide='next')
                  span.fa.fa-angle-right(aria-hidden='true')
                  |                                 
                  span.sr-only Next
    // /#testimonial
    section#blog
      .container
        .section-header
          h2.section-title.text-center.wow.fadeInDown Latest Blogs
          |                 
          p.text-center.wow.fadeInDown
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
        |             
        .row
          .col-sm-6
            .blog-post.blog-large.wow.fadeInLeft(data-wow-duration='300ms', data-wow-delay='0ms')
              article
                header.entry-header
                  .entry-thumbnail
                    img.img-responsive(src='qianhaiyuncheng/images/blog/01.jpg', alt='')
                    |                                     
                    span.post-format.post-format-video
                      i.fa.fa-film
                  |                                 
                  .entry-date 25 November 2014
                  |                                 
                  h2.entry-title
                    a(href='#') While now the fated Pequod had been so long afloat this
                |                             
                .entry-content
                  p
                    | With a blow from the top-maul Ahab knocked off the steel head of the lance, and then handing to the mate the long iron rod remaining, bade him hold it upright, without its touching off the steel head of the lance, and then handing to the mate the long iron rod remaining. without its touching off the steel without its touching off the steel
                  |                                 
                  a.btn.btn-primary(href='#') Read More
                |                             
                footer.entry-meta
                  span.entry-author
                    i.fa.fa-pencil
                    |  
                    a(href='#') Victor
                  |                                 
                  span.entry-category
                    i.fa.fa-folder-o
                    |  
                    a(href='#') Tutorial
                  |                                 
                  span.entry-comments
                    i.fa.fa-comments-o
                    |  
                    a(href='#') 15
          // /.col-sm-6
          .col-sm-6
            .blog-post.blog-media.wow.fadeInRight(data-wow-duration='300ms', data-wow-delay='100ms')
              article.media.clearfix
                .entry-thumbnail.pull-left
                  img.img-responsive(src='qianhaiyuncheng/images/blog/02.jpg', alt='')
                  |                                 
                  span.post-format.post-format-gallery
                    i.fa.fa-image
                |                             
                .media-body
                  header.entry-header
                    .entry-date 01 December 2014
                    |                                     
                    h2.entry-title
                      a(href='#') BeReviews was a awesome envent in dhaka
                  |                                 
                  .entry-content
                    p
                      | With a blow from the top-maul Ahab knocked off the steel head of the lance, and then handing to the steel
                    |                                     
                    a.btn.btn-primary(href='#') Read More
                  |                                 
                  footer.entry-meta
                    span.entry-author
                      i.fa.fa-pencil
                      |  
                      a(href='#') Campbell
                    |                                     
                    span.entry-category
                      i.fa.fa-folder-o
                      |  
                      a(href='#') Tutorial
                    |                                     
                    span.entry-comments
                      i.fa.fa-comments-o
                      |  
                      a(href='#') 15
            |                     
            .blog-post.blog-media.wow.fadeInRight(data-wow-duration='300ms', data-wow-delay='200ms')
              article.media.clearfix
                .entry-thumbnail.pull-left
                  img.img-responsive(src='qianhaiyuncheng/images/blog/03.jpg', alt='')
                  |                                 
                  span.post-format.post-format-audio
                    i.fa.fa-music
                |                             
                .media-body
                  header.entry-header
                    .entry-date 03 November 2014
                    |                                     
                    h2.entry-title
                      a(href='#') Play list of old bangle  music and gajal
                  |                                 
                  .entry-content
                    p
                      | With a blow from the top-maul Ahab knocked off the steel head of the lance, and then handing to the steel
                    |                                     
                    a.btn.btn-primary(href='#') Read More
                  |                                 
                  footer.entry-meta
                    span.entry-author
                      i.fa.fa-pencil
                      |  
                      a(href='#') Ruth
                    |                                     
                    span.entry-category
                      i.fa.fa-folder-o
                      |  
                      a(href='#') Tutorial
                    |                                     
                    span.entry-comments
                      i.fa.fa-comments-o
                      |  
                      a(href='#') 15
    |     
    section#get-in-touch
      .container
        .section-header
          h2.section-title.text-center.wow.fadeInDown Get in Touch
          |                 
          p.text-center.wow.fadeInDown
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
            br
            |  et dolore magna aliqua. Ut enim ad minim veniam
    // /#get-in-touch
    section#contact
      #google-map(style='height:650px', data-latitude='52.365629', data-longitude='4.871331')
      |         
      .container-wrapper
        .container
          .row
            .col-sm-4.col-sm-offset-8
              .contact-form
                h3 Contact Info
                |                             
                address
                  strong Twitter, Inc.
                  br
                  |                               795 Folsom Ave, Suite 600
                  br
                  |                               San Francisco, CA 94107
                  br
                  |                               
                  abbr(title='Phone') P:
                  |  (123) 456-7890
                |                             
                form#main-contact-form(name='contact-form', method='post', action='#')
                  .form-group
                    input.form-control(type='text', name='name', placeholder='Name', required='')
                  |                                 
                  .form-group
                    input.form-control(type='email', name='email', placeholder='Email', required='')
                  |                                 
                  .form-group
                    input.form-control(type='text', name='subject', placeholder='Subject', required='')
                  |                                 
                  .form-group
                    textarea.form-control(name='message', rows='8', placeholder='Message', required='')
                  |                                 
                  button.btn.btn-primary(type='submit') Send Message
    // /#bottom
    footer#footer
      .container
        .row
          .col-sm-6
            | &copy; 2014 Your Company. Designed by 
            a(target='_blank', href='http://shapebootstrap.net/', title='Free Twitter Bootstrap WordPress Themes and HTML templates') ShapeBootstrap
          |                 
          .col-sm-6
            ul.social-icons
              li
                a(href='#')
                  i.fa.fa-facebook
              |                         
              li
                a(href='#')
                  i.fa.fa-twitter
              |                         
              li
                a(href='#')
                  i.fa.fa-google-plus
              |                         
              li
                a(href='#')
                  i.fa.fa-pinterest
              |                         
              li
                a(href='#')
                  i.fa.fa-dribbble
              |                         
              li
                a(href='#')
                  i.fa.fa-behance
              |                         
              li
                a(href='#')
                  i.fa.fa-flickr
              |                         
              li
                a(href='#')
                  i.fa.fa-youtube
              |                         
              li
                a(href='#')
                  i.fa.fa-linkedin
              |                         
              li
                a(href='#')
                  i.fa.fa-github
    // /#footer
    script(src='qianhaiyuncheng/js/jquery.js')
    |     
    script(src='qianhaiyuncheng/js/bootstrap.min.js')
    |     
    script(src='http://maps.google.com/maps/api/js?sensor=true')
    |     
    script(src='qianhaiyuncheng/js/owl.carousel.min.js')
    |     
    script(src='qianhaiyuncheng/js/mousescroll.js')
    |     
    script(src='qianhaiyuncheng/js/smoothscroll.js')
    |     
    script(src='qianhaiyuncheng/js/jquery.prettyPhoto.js')
    |     
    script(src='qianhaiyuncheng/js/jquery.isotope.min.js')
    |     
    script(src='qianhaiyuncheng/js/jquery.inview.min.js')
    |     
    script(src='qianhaiyuncheng/js/wow.min.js')
    |     
    script(src='qianhaiyuncheng/js/main.js')
